GATEWAY_URL=your-gateaway-url
GATEWAY_API_KEY=your-gateaway-api-key
WOMAN_GROQ_API_KEY= your-woman-groq-api-key
MAN_GROQ_API_KEY= your-man-groq-api-key
THERAPIST_GROQ_API_KEY= ypur-therapist-groq-api-key

WOMAN_MODEL=openai/gpt-oss-20b
MAN_MODEL=openai/gpt-oss-20b
THERAPIST_MODEL=openai/gpt-oss-120b
